* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}


.wrapper .logo-block .logo {
  /* visibility: hidden; */
  display: block;
  width: 100%;
  height: 17rem;
}



.header .navbar {
  /* background-color: rgb(4, 182, 222);
   */
  background-color: brown;
  padding: 1rem 3rem;

  /* position: -webkit-sticky;
  position: sticky;
  top: 0; */
}

.navbar .menu {
  display: none;
  cursor: pointer;
  /* border: 2px solid red;*/
}

.navbar .close {
  border: 2px solid white;
  padding: 0.2rem;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  margin: 1rem 0;
}

.navbar .navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* border: 2px solid red; */
}

.navbar .navbar-list .navbar-li {
  list-style-type: none;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  /* border: 2px solid red; */
  width: fit-content;
}

.navbar .navbar-list .navbar-li .wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.1rem;
  /* border: 2px solid white; */
}

.navbar .navbar-list .navbar-li .wrap .navbar-a {
  color: white;
  text-decoration: none;
  font-size: smaller;
  font-weight: 700;
  /* border: 2px solid green; */
  width: fit-content;
}

.navbar .navbar-list .navbar-li .wrap .dropdown {
  cursor: pointer;
  /* border: 2px solid blue; */
}

.navbar .navbar-list .navbar-li .take-to-in {
  position: absolute;
  top: 2.5rem;
  left: -20rem !important;
}

.navbar .navbar-list .navbar-li .dropdown-items {
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 2.5rem;
  left: 0;
  text-wrap: nowrap;
  padding-inline: 1rem;
  box-shadow: 2px 2px 5px rgb(184, 182, 182);
  display: none;
  z-index: 100;
  /* border: 2px solid blue; */
}

.navbar-li:hover .dropdown-items {
  display: block !important;
}

.dropdown-items .dropdown-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

/* .dropdown-items .dropdown-list:last-child {
  margin-bottom: 0 !important;
} */

.dropdown-items .dropdown-list .column .dropdown-li {
  margin-block: 1rem;
}

.dropdown-items .dropdown-list .column .dropdown-li:hover {
  background-color: rgba(198, 194, 194, 0.1);
}

.dropdown-items .dropdown-list .column .dropdown-li a {
  color: black;
  margin: 0.3rem;
  font-weight: 400;
  font-size: medium;
}


@media screen and (max-width: 720px) {
  .wrapper .logo-block .logo {
    height: 10rem;
  }
}


@media screen and (max-width:1300px) {
  .navbar .menu {
    display: inline-block;
  }

  .navbar .navbar-list {
    display: none;
  }

  .navbar .navbar-list .navbar-li {
    margin-bottom: 1rem;
    width: 100%;
  }




  .navbar .navbar-list .navbar-li .wrap {
    margin-bottom: 1rem;
  }

  .navbar .navbar-list .navbar-li .dropdown-items {
    position: static;
    padding-block: 0.5rem;
    /* margin-bottom: 1rem; */
    box-shadow: none;
    /* width: 100%; */
  }

  .dropdown-items .dropdown-list {
    display: block;
  }


  /* .navbar-li .wrap:active + .dropdown-items {
  display: block;
} */

  .dropdown-list .column .dropdown-li {
    margin: 0;
  }

}











/* .main {
  border: 2px solid red;
} */

.main .section1 {
  padding: 1rem;
}

.main .section1 {
  /* border: 2px solid green; */
  font-size: large;
  background: linear-gradient(45deg, rgb(213, 222, 89), rgb(89, 198, 240));
  /* font-family: ; */
  /* background-color: rgb(89, 198, 240); */
  font-weight: 700;
  color: rgb(246, 255, 0);
}

.main .section2 {
  /* border: 2px solid cyan; */
  /* background-color: rgb(37, 115, 154); */
  background-color: rgb(178, 206, 80);
  padding: 2rem 2rem 3rem;
}

.main .section2 .current-magazine {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* .current-magazine  */
.head {
  /* border: 2px solid red; */
  font-size: x-large;
  font-weight: 700;
  color: black;
  font-style: oblique;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 3px 3px 2px rgb(255, 255, 255);
}

/* .current-magazine */
.image-card {
  /* border: 2px solid red; */
  background-color: white;
  box-shadow: 7px 7px rgb(116, 114, 114);
  padding: 3rem 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transform: rotateY(-10deg); */
  /* border: 1rem; */
}

/* .current-magazine .image-card */
.current-image {
  border: 2px solid black;
  border-bottom: none;
  width: 200px;
  padding: 1.5rem 1.5rem 0;

  /* display: block; */
}

.current-image img {
  width: 100%;
  display: block;

}


/* .current-magazine .image-card */
.month {
  /* border: 2px solid red; */
  font-size: x-large;
  font-weight: 700;
  margin-top: 1rem;
  /* display: inline-block; */
}

.current-magazine .image-card .download {
  border: 2px solid black;
  border-top: none;
  /* padding: 0 3.4rem 0.5rem; */
  width: 100%;
  font-size: large;
  font-weight: 500;
  color: green;
}

/* section3 css */
.section3 {
  /* border: 2px solid red; */
  /* background-color: rgb(119, 185, 226); */
  background-color: rgb(211, 233, 132);

  /* width: 100%; */


}

.section3 .previous-magazines {
  /* border: 2px solid green; */
  padding: 1rem;
  text-align: center;
  /* width: 1080px; */
  /* margin-inline: auto; */
  margin: 0 5rem;

}

.section3 .previous-magazines .magazines {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  padding: 1rem 5rem;
}

.magazines .image-card .download {
  border: 2px solid black;
  border-top: none;
  font-weight: 500;
  padding: 0.5rem 1.8rem;
}

.image-card .download a {
  color: red;
}





/* tv channel section */

.main .section4 {
  /* border: 2px solid red; */
  background-color: rgb(226, 230, 228);

}

.section4 .tv-channel {
  /* border: 2px solid black; */
  margin: 0 5rem;
  padding: 3rem 1rem;
}

.tv-channel .head a {
  color: black;
}

.tv-channel .videos-wrapper {
  /* border: 2px solid rgb(0, 255, 42); */
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  padding: 1rem 5rem;
}


.videos-wrapper>:nth-child(2n){
  background: linear-gradient(45deg, rgb(178, 127, 236), rgb(236, 236, 49));
}
.videos-wrapper>:nth-child(2n+1){
  background: linear-gradient(45deg, green, yellow);
}

/* .videos-wrapper>:nth-child(2){
  background: linear-gradient(45deg, red, yellow);
}
.videos-wrapper>:nth-child(3){
  background: linear-gradient(45deg, red, yellow);
}
.videos-wrapper>:nth-child(4){
  background: linear-gradient(45deg, red, yellow);
}
.videos-wrapper>:nth-child(5){
  background: linear-gradient(45deg, red, yellow);
}
.videos-wrapper>:nth-child(6){
  background: linear-gradient(45deg, red, yellow);
}
.videos-wrapper>:nth-child(6){
  background: linear-gradient(45deg, red, yellow);
} */



.videos-wrapper .iframe-border {
  /* border: 2px solid red; */
  height: 170px;
  width: 300px;
  border-radius: 0.5rem;
  padding: 0.5rem;
}



.iframe-border iframe {
  /* border: none; */
  width: 100%;
  height: 100%;

  /* border-radius: 5px;
  border: 10px solid rgb(255, 255, 255); */
}






.wrapper .footer {
  /* border: 2px solid black; */
  margin-bottom: 2rem;
  padding: 3rem 1rem;
}

.wrapper .footer * {
  padding: 0.5rem;
}

.footer .footer-wrapper {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-wrapper .footer-info {
  border: 2px solid rgb(236, 235, 235);
  border-radius: 10px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* box-shadow: 2px 2px 3px grey; */
  /* 2px 2px 3px grey inset; */
}

@media screen and (max-width:900px) {
  .footer-wrapper .footer-info {
    flex-direction: column;
  }

  .footer-info .info {
    padding: 2rem 3rem !important;
  }

}

.footer-info .logo {
  width: 300px;
  height: 300px;
}

.footer-info .logo .footer-logo {
  display: block;
  width: 100%;
  height: 100%;

}



.footer-info .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 1080px; */
  padding: 3rem 10rem;
  text-align: center;
  /* border: 2px solid; */
}

.footer .rights {
  text-align: center;
}