* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}


.wrapper .logo-block .logo {
  display: block;
  width: 100%;
  height: 17rem;
}

.header .navbar {
  background-color: brown;
  padding: 1rem 3rem;
}

.navbar .menu {
  display: none;
  cursor: pointer;
  border: 2px solid red;
}

.navbar .close {
  border: 2px solid white;
  padding: 0.2rem;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  margin: 1rem 0;
}

.navbar .navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* border: 2px solid red; */
}

.navbar .navbar-list .navbar-li {
  list-style-type: none;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  /* border: 2px solid red; */
  width: fit-content;
}

.navbar .navbar-list .navbar-li .wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.1rem;
  /* border: 2px solid white; */
}

.navbar .navbar-list .navbar-li .wrap .navbar-a {
  color: white;
  text-decoration: none;
  font-size: smaller;
  font-weight: 700;
  /* border: 2px solid green; */
  width: fit-content;
}

.navbar .navbar-list .navbar-li .wrap .dropdown {
  cursor: pointer;
  /* border: 2px solid blue; */
}

.navbar .navbar-list .navbar-li .take-to-in {
  position: absolute;
  top: 2.5rem;
  left: -20rem !important;
}

.navbar .navbar-list .navbar-li .dropdown-items {
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 2.5rem;
  left: 0;
  text-wrap: nowrap;
  padding-inline: 1rem;
  box-shadow: 2px 2px 5px rgb(184, 182, 182);
  display: none;
  /* border: 2px solid blue; */
}

.navbar-li:hover .dropdown-items {
  display: block !important;
}

.dropdown-items .dropdown-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

/* .dropdown-items .dropdown-list:last-child {
  margin-bottom: 0 !important;
} */

.dropdown-items .dropdown-list .column .dropdown-li {
  margin-block: 1rem;
}

.dropdown-items .dropdown-list .column .dropdown-li:hover {
  background-color: rgba(198, 194, 194, 0.1);
}

.dropdown-items .dropdown-list .column .dropdown-li a {
  color: black;
  margin: 0.3rem;
  font-weight: 400;
  font-size: medium;
}


@media screen and (max-width: 720px) {
  .wrapper .logo-block .logo {
    height: 10rem;
  }
}

@media screen and (max-width:1300px) {
  .navbar .menu {
    display: inline-block;
  }

  .navbar .navbar-list {
    display: none;
  }

  .navbar .navbar-list .navbar-li {
    margin-bottom: 1rem;
    width: 100%;
  }


  .navbar .navbar-list .navbar-li .wrap {
    margin-bottom: 1rem;
  }

  .navbar .navbar-list .navbar-li .dropdown-items {
    position: static;
    padding-block: 0.5rem;
    /* margin-bottom: 1rem; */
    box-shadow: none;
    /* width: 100%; */
  }

  .dropdown-items .dropdown-list {
    display: block;
  }

  
/* .navbar-li .wrap:active + .dropdown-items {
  display: block;
} */

  .dropdown-list .column .dropdown-li {
    margin: 0;
  }

}